<div style="height: 5px;"></div>
<MudText Class="ch-resume-section-text" Typo="@Typo.h2" Align="@Align.Center">
    @Title
</MudText>
<MudDivider Vertical="false" />
<div style="height: 5px;"></div>

@code
{
    [Parameter]
    public string Title { get; set; }
}
