/**
 * Dimensions of an A4 paper.
 */
.ch-paper-a4 {
    width: 21.0cm;
    height: 29.7cm;
}

/**
 * Default padding for A4 paper.
 * NOTE: In paper terminology, padding is called "margin".
 */
.ch-paper-a4-padding {
    padding: 2.5cm;
}

/**
 * Dimensions of a US Letter paper.
 */
.ch-paper-us-letter {
    width: 8.5in;
    height: 11in;
}

/**
 * Default padding for US Letter paper.
 * NOTE: In paper terminology, padding is called "margin".
 */
.ch-paper-us-letter-padding-x {
    padding-left: 1in;
    padding-right: 1in;
}

/**
 * Default padding for US Letter paper.
 * NOTE: In paper terminology, padding is called "margin".
 */
.ch-paper-us-letter-padding-y {
    padding-top: 1in;
    padding-bottom: 1in;
}

/**
 *
 */
.ch-paper-us-letter-padding-half-x {
    padding-left: calc(1in / 2);
    padding-right: calc(1in / 2);
}

/**
 *
 */
.ch-paper-us-letter-padding-half-y {
    padding-top: calc(1in / 2);
    padding-bottom: calc(1in / 2);
}

/**
 *
 */
.ch-paper-us-letter-padding-third-x {
    padding-left: calc(1in / 3);
    padding-right: calc(1in / 3);
}

/**
 *
 */
.ch-paper-us-letter-padding-third-y {
    padding-top: calc(1in / 3);
    padding-bottom: calc(1in / 3);
}

/**
 *
 */
.ch-paper-us-letter-padding-quarter-x {
    padding-left: calc(1in / 4);
    padding-right: calc(1in / 4);
}

/**
 *
 */
.ch-paper-us-letter-padding-quarter-y {
    padding-top: calc(1in / 4);
    padding-bottom: calc(1in / 4);
}

/**
 *
 */
.ch-paper-us-letter-padding-sixth-x {
    padding-left: calc(1in / 6);
    padding-right: calc(1in / 6);
}

/**
 *
 */
.ch-paper-us-letter-padding-sixth-y {
    padding-top: calc(1in / 6);
    padding-bottom: calc(1in / 6);
}

/**
 *
 */
.ch-paper-us-letter-padding-eighth-x {
    padding-left: calc(1in / 8);
    padding-right: calc(1in / 8);
}

/**
 *
 */
.ch-paper-us-letter-padding-eighth-y {
    padding-top: calc(1in / 8);
    padding-bottom: calc(1in / 8);
}
