/**
 *
 */
.ch-resume-text {
    font-size: 0.85rem;
    line-height: 1.4;
}

/**
 *
 */
.ch-resume-header-text {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1;
}

/**
 *
 */
.ch-resume-subheader-text {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.25;
}

/**
 *
 */
.ch-resume-info-text {
    font-size: 0.75rem;
}

/**
 *
 */
.ch-resume-section-text {
    font-size: 1.25rem;
    font-weight: bold;
}

/**
 *
 */
.ch-resume-item-text {
    font-size: 0.85rem;
    font-weight: bold;
}

/**
 *
 */
.ch-resume-item-category-text {
    font-size: 0.9rem;
    font-weight: bold;
}

/**
 *
 */
.ch-resume-skills-text {
    font-size: 0.75rem;
    line-height: 1.2;
}

/**
 *
 */
.ch-resume-skills-category-text {
    font-size: 0.85rem;
    font-weight: bold;
    line-height: 1.2;
}
