@using MudBlazorExtensionLibrary.Services
@using System.Text
@inject MBELLayoutService LayoutService

<link href="/_content/ChristianHinko/css/page-print-us-letter.css?v=7" rel="stylesheet">

<div class="mud-width-full mud-height-full" style="background-color: var(--mud-palette-background-grey);">
    <MudPaper Class="@BuildPaperClassString()" Square="true">
        @ChildContent
    </MudPaper>
</div>

@code
{
    protected override void OnInitialized()
    {
        base.OnInitialized();

        LayoutService.SetIsDarkMode(false);
    }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string PaperClass { get; set; } = "ch-paper-us-letter ch-paper-us-letter-padding-x ch-paper-us-letter-padding-y";

    private string BuildPaperClassString()
    {
        StringBuilder stringBuilder = new();

        // Use auto margin on the X axis, to center the paper.
        stringBuilder.Append("mx-auto");
        stringBuilder.Append(' ');
        stringBuilder.Append(PaperClass);

        return stringBuilder.ToString();
    }
}
